@use "../../styles/breakpoints" as *;

.list {
  display: grid;
  row-gap: 40px;
  @include respond-to("laptop") {
    row-gap: 20px;
    column-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
}
