@use "../../styles/breakpoints" as *;

.container {
  margin-top: 30px;
  @include respond-to("laptop") {
    margin-top: 60px;
  }
}

.post {
  & > h3 {
    font-size: 1.6rem;
    border-bottom: 1px solid #d6e3ed;
    padding-bottom: 6px;
    font-weight: 600;
    &:not(:first-of-type) {
      margin: 40px 0 20px;
    }
    @include respond-to("laptop") {
      font-size: 2.4rem;
      &:not(:first-of-type) {
        margin: 64px 0 16px;
      }
    }
  }
  & > h4 {
    font-size: 1.6rem;
    margin: 32px 0 16px;
    font-weight: 600;
    @include respond-to("laptop") {
      font-size: 2rem;
      margin: 32px 0 12px;
    }
  }
  & > p {
    font-size: 1.4rem;
    line-height: 1.6;
    margin: 12px 0;
    @include respond-to("laptop") {
      font-size: 1.6rem;
      line-height: 1.8;
    }
  }
  & code {
    font-size: 1.2rem;
    background-color: #333333;
    color: #dfdfdf;
    padding: 2px 4px;
    line-height: 1;
  }
  & strong {
    font-weight: 600;
  }
  & ul,
  & ol {
    font-size: 1.4rem;
    line-height: 1.5;
    @include respond-to("laptop") {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
  & ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  & ol {
    list-style-type: decimal;
    padding-left: 20px;
  }
  & ul li,
  & ol li {
    line-height: 1.8;
    &:not(:last-of-type) {
      margin-bottom: 6px;
    }
  }
  & figure {
    margin-top: 20px;
    text-align: center;
  }
  & img {
    max-width: 720px;
    width: 100%;
    height: auto;
  }
  & pre {
    margin: 10px 0;
    font-size: 1.2rem;
    white-space: pre-wrap;
  }
  & pre code {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  & pre code span {
    font-size: 1.2rem;
  }
  & a {
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
    }
  }
  table,
  th,
  td {
    border: 1px solid #a5a5a5;
  }
  table {
    width: 100%;
  }
  th,
  td {
    font-size: 1.4rem;
    padding: 4px 8px;
  }
  th {
    background-color: #e6e6e6;
    color: #212121;
  }
}
