@use "../../styles/breakpoints" as *;

.profile {
  display: grid;
  justify-content: center;
  gap: 10px;
  @include respond-to("laptop") {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }
}
.image {
  display: grid;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  height: auto;
  @include respond-to("laptop") {
    max-width: auto;
    width: 100%;
    height: auto;
  }
}
.name {
  font-size: 1.4rem;
  margin-bottom: 6px;
}
.sub {
  padding-left: 14px;
}
.link {
  text-decoration: underline;
}
.list {
  display: grid;
  grid-template-columns: 80px 1fr;
  font-size: 1.2rem;
  row-gap: 6px;
}
