---
interface Blog {
	id: string;
	title: string;
}

const { blog }: { blog: Blog } = Astro.props as { blog: Blog };
---

<li>
  <a href={`/blog/${blog.id}`}>
	<img src={`/public/img/article/${blog.id}.webp`} alt={blog.title}>
  </a>
</li>
