---
import BlogList from "../../components/BlogList/BlogList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="My first blog with Astro">
  <main>
    <h1>blog</h1>
    <BlogList />
  </main>
</Layout>