@use "./breakpoints" as *;

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/noto-sans-jp-v53-latin-300.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-sans-jp-v53-latin-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/noto-sans-jp-v53-latin-600.woff2") format("woff2");
}
@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/noto-sans-jp-v53-latin-800.woff2") format("woff2");
}

:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
}
html,
code {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #d8d3c3;
  background: #2c2c2c;
  row-gap: 20px;
  font-weight: 300;
  @include respond-to("laptop") {
    row-gap: 40px;
  }
}

/*
サイトカラー候補１
ベージュ：#F9F0E3
ブラック：#000000
ホワイト：#FFFFFF

サイトカラー候補２
ベージュ：#C9C2AC
ブラック：#212121

*/
