@use "../../styles/breakpoints" as *;

.nav {
  margin-top: 20px;
  background-color: #1a1a1a;
  @include respond-to("laptop") {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
}
