@use "../../styles/breakpoints" as *;

.header {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  @include respond-to("laptop") {
    display: block;
    margin-top: 40px;
  }
}
.headline {
  margin: auto;
  display: block;
  padding: 0;
  max-width: 960px;
  width: 100%;
  z-index: 3;
  @include respond-to("laptop") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
