@use "../../styles/breakpoints" as *;

.header {
  background-color: #fff;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  @include respond-to("laptop") {
    display: block;
  }
}
.headline {
  margin: auto;
  display: block;
  padding: 0;
  max-width: 960px;
  width: 100%;
  z-index: 3;
  @include respond-to("laptop") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.logo {
  display: block;
  margin: auto;
  padding: 0;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1rem;
  @include respond-to("laptop") {
    text-align: right;
    margin: 0;
  }
}
.logo span {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  padding-right: 0;
  text-align: center;
  @include respond-to("laptop") {
    text-align: right;
  }
}
