---
import Logo from "../Logo/Logo.astro";
import styles from "./Header.module.scss";
---

<header class={styles.header}>
    <div class={styles.headline}>
        <Logo />
        <slot />
    </div>
</header>