---
import styles from "./FooterMenu.module.scss";
---

<nav>
    <ul class={styles.menu}>
      <li><a href="/">Works</a></li>
      <li><a href="/about">About</a></li>
      <!-- <li><a href="/blog.html">Blog</a></li> -->
    </ul>
</nav>