---
import FooterMenu from "../FooterMenu/FooterMenu.astro";
import styles from "./Footer.module.scss";
---

<footer class={styles.footer}>
    <FooterMenu />
    <p><small>© CODED Kazuya Imoto - Front-End Developer site.</small></p>
</footer>