---
import "the-new-css-reset";
import "../styles/global.scss";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";
import Navigation from "../components/Navigation/Navigation.astro";
import { GoogleAnalytics } from "astro-google-analytics";

interface Props {
	title: string;
	description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<GoogleAnalytics id="G-DHWXFYPDEN" />
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Language" content="ja">
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content="index, follow">
		<meta name="google-site-verification" content="ttN_UeaA9PFRuCTzuj9dXoDrdlLjaFaML2XS0kC_0JM" />
		<meta http-equiv="pragma" content="no-cache">
		<meta name="expires" content="0">
		<meta http-equiv="cache-control" content="no-cache">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel=”icon” href=”/favicon.ico” sizes=”48×48″>
		<link rel=“apple-touch-icon” href=“/favicon.png”>
		<link rel="canonical" href={`https://www.imoto-portfolio.jp${Astro.url.pathname}`} />
		<title>{title}</title>
	</head>
	<body>
		<Header>
			<Navigation />
		</Header>
		<slot />
		<Footer />
	</body>
</html>
